name: Publish

on:
  push:
    branches:
      - main
      - beta
      - alpha

permissions:
  contents: read

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  publish:
    needs: ci
    timeout-minutes: 20
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4.2.2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Prepare build environemnt
        uses: ./.github/actions/prepare-build-env

      - name: Download wasm-pack build output
        uses: actions/download-artifact@v4.3.0
        with:
          name: wasm-pack-build
          path: pkg

      - name: Setup node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Verify npm package signatures
        run: npm audit signatures

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: npx semantic-release
